# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
1. List Popular Libraries for Data Science
2. List Popular Data Science Tools
3. Some Arithmetic Expression in Python

 Some of the popular languages that Data Scientists use are:
 1. Python
 2. R
 3. Scala

 Some of the commonly used libraries used by Data Scientists include :
 1. Pandas
 2. Numpy
3. Matplotlib

| Data Science Tools |
| --- |
| Anaconda Navigator |
| Visual Studio Code |
| R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [3]:
200/60

3.3333333333333335

## AUTHOR
Muhammad Abdullah Qureshi